name: EAS Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Run EAS Build
        env:
          EAS_TOKEN: ${{ secrets.EAS_TOKEN }}
        run: |
          eas build --platform android --profile development --non-interactive

